@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  /* prevents the blue highlight when clicking on buttons/links */
  -webkit-tap-highlight-color: transparent;
}

.flip-container {
  -webkit-perspective: 1000;
  background: transparent;
}
/* flip the picture when hover */

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 250px;
  height: 250px;
}
/* flip speed */

.flipper {
  -webkit-transition: .4s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}
/* hide back  during flip */

.front,
.back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front placed above back */

.front {
  z-index: 2;
}
/* back, initially hidden */

.back {
  -webkit-transform: rotateY(180deg);
}